* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #222222;
	font-family:Arial;
}

.all {
    display: block;
	text-align: left;
	vertical-align: left;
}
	
.title{
	background-color: #AAAAAA;
	height: auto;
	color: #000;
	font-size: 3em;
}

ul.a{
	font-size: 2em;
	text-decoration-color: orange;
}

